<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accentColor</key>
	<dict>
		<key>hex</key>
		<string>#00baff</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>badgeColor</key>
	<dict>
		<key>hex</key>
		<string>#EB1A3C</string>
		<key>alpha</key>
		<string>0.8</string>
	</dict>
	<key>canvasColor</key>
	<dict>
		<key>hex</key>
		<string>#1f252b</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>contentColor</key>
	<dict>
		<key>hex</key>
		<string>#ffffff</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>contentSectionColor</key>
	<dict>
		<key>hex</key>
		<string>#434a57</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>handleColor</key>
	<dict>
		<key>hex</key>
		<string>#ffffff</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>navBarColor</key>
	<dict>
		<key>hex</key>
		<string>#333943</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>navBarTextColor</key>
	<dict>
		<key>hex</key>
		<string>#ffffff</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>strokeColor</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>toolBarColor</key>
	<dict>
		<key>hex</key>
		<string>#333943</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
